.nuevo{
    color: rgb(54, 54, 155);
    background-color: rgb(182, 224, 116);
    border: 10px solid #3f2470;
    height: 100px;
    width: auto;
}
body{
    background-color: rgb(127, 165, 255);
}
#slideshow {
    text-align: center;
    overflow: hidden;
    height: 510px;
    width: 728px;
    margin-bottom: 400px;
  }
   
  .slide-wrapper {
    width: 2912px;
    animation: slide 18s ease infinite;
  }
   
  .slide {
    float: left;
    height: 510px;
    width: 728px;
  }
   
  .slide:nth-child(1) { /*Elementos de una etiqueta que estan dentro*/
    background-color: rgb(216, 41, 243);
  }
   
  .slide:nth-child(2) {
    background-color: coral;
  }
   
  .slide:nth-child(3) {
    background-color: greenyellow;
  }
   
  .slide:nth-child(4) {
    background-color: brown;
  }
   
  @keyframes slide {
    20% {margin-left: 0px;}
    30% {margin-left: -928px;}
    50% {margin-left: -728px;}
    60% {margin-left: -1456px;}
    70% {margin-left: -1456px;}
    80% {margin-left: -2184px;}
    90% {margin-left: -2184px;}
  }
  .videos{
    background-color: bisque;
    height: 500px;
    width: auto;
    margin-top: -390px;
  }
  .subvideo{
    margin-top: 60px;
    display: flex;
    display: block;
    width: 600px;
    height: 415px;
  }
  #deslice{
    text-align: center;
    overflow: hidden;
    height: 510px;
    width: 728px;
    margin-bottom: 400px;
  }
  .video1{
    background: linear-gradient(0deg, #ff0000 0%, #34389d 100%);
    height: 500px;
    width: auto;
    
  }
  .tabla{
    border: 5px solid #3f2470;
    width: auto;
    height: auto;
    
  }
  .subvideo1{
    display: flex;
    width: 600px;
    height: 415px;
    margin-top: 10px;
    margin-left: 300px;
  }
  .imagen{
    display: flex;
    background-color: beige;
    width: auto;
    height: auto;
  }
  .hermanomayor{
background-color: #4c166b;
width: auto;
height: 700px;
  }
  .hermanomenor{
    height: 100px;
    width: 100px;
    background-color: #1083a0;
    display: inline-block;
  }
  .hermanomediano{
    background-color: #3f7cb4;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-left: 15px;
  }
  .navbar{
    background-color:#001011;
     height: 30px;
     text-align: center;
     position: sticky;
     top: 0;
      overflow: hidden;
    color: #dce0e0;
   border-bottom: 1px solid;
  border-color: white;
 
  }
  button{
    display: block;
    width: 200px;
    height: 100px;
  }
  a[href^="#abajo"]{
    background-color: gold;
  }
  div[data-lang="zh-TW"] {
    color: purple;
  }
  a[href^="V2.html"]{
    background-color: rgb(16, 145, 138);
  }
  a[href^="contactos.html"]{
    background-color: rgb(16, 145, 138);
  }